@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-base: rgb(193, 185, 214);
  --background-start-rgb: 253, 238, 254;
  --background-end-hex: #ffff;
  --input-color-default: #E0D4FF;
  --btn-hover-default: #7950e5;
  --base-color-default: #AB94EC;
  
  --default-place-color: #645C5C;
  --default-text-color: #414040;
}


body {
  color: var(--color-base);
  background: linear-gradient(45deg, #000000 0%, #1a1a1a 84%);
}

html, body {
  height: 100vh;
}

input {
  background-color: var(--input-color-default);
  color: var(--default-text-color);
}

.btn-navigate:hover {
  cursor: pointer;
  border-bottom: 2px solid;
}

.image_main {
  background: linear-gradient(0deg, #6a8aff, transparent);
}

.image_main img {
  width: auto;
  height: 245px;
}